[Unit]
Description=Qbootctl flags slot as boot-succesfull 

[Service]
Type=simple
ExecStart=/usr/local/bin/qbootctl -m

[Install]
WantedBy=multi-user.target